* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
    background-color: #1f1f1f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo {
    text-decoration: none;
    color: #ff305b;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav.navigation {
    display: flex;
}
nav.navigation a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 30px;
}
nav.navigation a:hover {
    color: #ff305b;
}
#ho1{
    color: #ff305b;
}
.home {
    height: 100vh;
    background: url(img/hero\ img.jpg) repeat scroll center center / cover;
    margin-bottom: 30px;
}

.home-content {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    position: relative;
}

.home-text {
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-content h3,
.home-content h4 {
    margin-bottom: 10px;
    color: white;
}

.home-content h1 {
    color: #ff305b;
    margin-bottom: 10px;
    font-size: 30px;
}



h4 span::before {
    content: "Designer|";
    animation: move 2.5s linear 1s infinite alternate;
}

@keyframes move {
    0% {
        content: "Designer|";
    }

    10% {
        content: "Designer|";
    }

    20% {
        content: "Design|";
    }

    30% {
        content: "Desi|";
    }

    40% {
        content: "De|";
    }

    50% {
        content: "De|";
    }

    60% {
        content: "Deve|";
    }

    70% {
        content: "Develo|";
    }

    80% {
        content: "Developer|";
    }

    100% {
        content: "Developer|";
    }
}

.about {
    width: 100%;
    padding: 100px;
}

.about-img,
.about-text {
    width: 50%;
    float: left;
}

.about-img .inner {
    position: relative;
    width: 360px;
    height: 421px;
    float: right;
    border: 8px solid #646464;
    border-radius: 7px;
    margin-right: 10%;
}

.about-img .inner .profile {
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 7px;
    height: 440px;
    width: 360px;
    overflow: hidden;
}

.about-img .inner .profile .image-hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: all .5s ease-in-out;
    position: absolute;
    top: 440px;
    width: 100%;
    height: 100%;
}

.about-img .inner .profile:hover .image-hover {
    top: 0px;
}

.social-icons ul {
    position: absolute;
    padding: 0;
    top: 45%;
    left: 10%;
}

.social-icons ul li {
    list-style: none;
    width: 25%;
    float: left;
}

.social-icons ul li {
    padding: 10px;
    transform: scale(70%);
}

.social-icons ul li img {
    transition: all 0.2s ease;
}

.social-icons ul li img:hover {
    background-color: #ff305b;
}

.about-text h2 span {
    color: #ff305b;
    font-weight: 900;
    margin-right: 5px;
}

.about-text h2,
.about-text p,
.about-text ul {
    color: #555555;
    margin-bottom: 15px;
}

.about-text h2 {
    color: #333;
    font-size: 30px;
}

.about-text p {
    border-bottom: 1px dashed black;
    width: 70%;
    padding-bottom: 30px;
}

.about-text ul {
    list-style: none;
    padding: 0;
    width: 90%;
    margin-bottom: 30px;
}

.about-text ul li {
    padding-top: 18px;
    float: left;
    min-width: 46%;
}

.about-text ul li span {
    color: #333;
    font-weight: 700;
}

.btn button {
    background-color: #ff305b;
    color: white;
    font-size: 15;
    padding: 14px 25px;
    border: none;
    border-radius: 4px;
    transition: all .5s ease-in-out;
}

.btn button:hover {
    background-color: orangered;
}

.about {
    margin-bottom: 20px;
}
.clr{
    clear: both;
}

.our-services {
    background-color: rgb(241, 241, 241);
    text-align: center;
    padding: 2% 17%;
}

.services {
    padding: 20px;
}

.title {
    font-size: 25px;
    font-weight: bolder;
    position: relative;
    text-align: center;
}

.title h2:after {
    background-color: #ff305b;
    bottom: -30px;
    height: 1px;
    width: 160px;
}

.title h2::before,
.title h2::after {
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}

.title h2::before {
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    bottom: -35px;
    padding: 4px 0 5px;
    width: 70px;
}

.our-services .single-service {
    width: 25%;
    transition: all 0.2s ease-in;
    float: left;
    font-size: smaller;
    color: #555555;
    padding: 30px;
}

.single-service img,
.single-service h2,
.single-service p {
    margin-bottom: 25px;
}

.our-services .single-service img {
    transition: all 0.2s ease-out;
    height: 30px;
    width: 30px;
}

.our-services .single-service:hover {
    background-color: white;
    filter: drop-shadow(0px 6px 10px rgba(104, 104, 104, 0.445));
}

.our-services .single-service:hover img {
    transform: scale(125%);
}

.services {
    background-color: #F1F1F1;
    margin-bottom: 100px;
  }
  .services-header-header-design{
    text-align: center;
  }
  
  .services .service {
    margin-top: 50px;
    width: 25%;
    float: left;
    transition: all 0.5s;
    box-sizing: border-box;
    padding: 30px 20px;
    text-align: center;
  }
  
  .services .service:hover {
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  
  .services .service i {
    color: #FF305B;
    font-size: 26px;
    transition: all 0.5s;
  }
  
  .services .service:hover i {
    transform: scale(1.25);
  }
  
  .services .service h3 {
    color: #333333;
    margin: 20px 0px;
    text-transform: uppercase;
  }
  
  .services .service p {
    color: #555555;
  }
  .clr{
    clear: both;
}
.portfolio .portfolio-content .portfolio-menu {
    margin-bottom: 20px;
    text-align: center;
  }
  .portfolio-header-header-design{
    text-align: center;
  }
  
  .portfolio .portfolio-content .portfolio-menu button {
    background-color: transparent;
    color: #333333;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
  }
  
  .portfolio .portfolio-content .portfolio-menu button.active {
    color: #FF305B;
  }
  
  .portfolio .portfolio-content .portfolio-cards .card {
    width: 33.333333%;
    float: left;
    padding: 15px;
  }
  
  
  .portfolio .portfolio-content .portfolio-cards .card .card-content {
    position: relative;
  }
  
  .portfolio .portfolio-content .portfolio-cards .card img {
    width: 100%;
  }
  
  .portfolio .portfolio-content .portfolio-cards .card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }
  
  .portfolio .portfolio-content .portfolio-cards .card .overlay i {
    color: #FF305B;
    font-size: 22px;
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  
  .portfolio .portfolio-content .portfolio-cards .card .card-content:hover .overlay {
    visibility: visible;
    opacity: 1;
  }
  
  
  .counters {
    background-color: #F1F1F1;
  }
  
  .counters .counter {
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding: 0px 20px;
    text-align: center;
  }
  
  .counters .counter i {
    color: #FF305B;
    font-size: 22px;
  }
  
  .counters .counter h3 {
    font-size: 26px;
    font-weight: 800;
    color: #333333;
    margin: 10px 0px;
  }
  
  .counters .counter h5 {
    font-weight: 600;
    color: #555555
  }
  .portfolio .portfolio-content .portfolio-menu {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .portfolio .portfolio-content .portfolio-menu button {
    background-color: transparent;
    color: #333333;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
  }
  
  .portfolio .portfolio-content .portfolio-menu button.active {
    color: #FF305B;
  }
  
  .portfolio .portfolio-content .portfolio-cards .card {
    width: 33.333333%;
    float: left;
    padding: 15px;
  }
  
  
  .portfolio .portfolio-content .portfolio-cards .card .card-content {
    position: relative;
  }
  
  .portfolio .portfolio-content .portfolio-cards .card img {
    width: 100%;
  }
  
  .portfolio .portfolio-content .portfolio-cards .card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
  }
  
  .portfolio .portfolio-content .portfolio-cards .card .overlay i {
    color: #FF305B;
    font-size: 22px;
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  
  .portfolio .portfolio-content .portfolio-cards .card .card-content:hover .overlay {
    visibility: visible;
    opacity: 1;
  }
  .clr{
    clear: both;
  }
  
  .compelet-project {
    margin: 10% 0;
    padding: 40px 0;
    text-align: center;
    background-color: #f1f1f1;
  }
  .compelet-project h5 {
    color: #555555;
    font-weight: 600;
  }
  .compelet-project h3 {
    color: #333333;
    font-weight: 800;
    padding: 15px 0;
  }
  
  .count {
    width: 25%;
    padding: 4% 0;
    float: left;
  }
  .count i {
    color: #ff305b;
    font-size: 26px;
  }
  .count h3 {
    font-size: 26px;
  }
 .icon1{
    width: 10%;
 }  
 .icon2{
    width: 10%;
 }
 .icon3{
    width: 10%;
 }
 .icon4{
    width: 10%;
 }
.clr{
    clear: both;
  }
  .feedback {
    padding: 3% 20%;
}

.feedback .title {
    text-align: center;
    margin-bottom: 100px;
}

.client {
    position: relative;
    margin: auto;
    background-color: #F1F1F1;
    overflow: hidden;
}

.client-img,
.client-text {
    padding: 40px;
    float: left;
}

.client-img {
    width: 25%;
}

.client-text {
    width: 75%;
}

.client-text h2,
.client-text p {
    margin-bottom: 10px;
}

.client-img img {
    border-radius: 50%;
    height: 50%;
    position: absolute;
    z-index: 1;
    top: 30;
}

.client .client-img span {
    position: absolute;
    width: 149px;
    height: 297px;
    background-color: #ff305b;
    transform: rotate(45deg);
    top: -97px;
    left: -26px;
}

.client-text h3 span {
    filter: sepia(.8);
}
.clr{
    clear: both;
}
.blogg {
    margin: 10% 0;
    padding: 40px 0;
    background-color: #f1f1f1;
  }
  .relative{
    text-align: center;
  }
  .title-blog h2::after {
    left: 45%;
  }
  .title-blog span::before {
    left: 48%;
  }
  .title-blog span::after {
    left: 48%;
  }
  .caption-blog {
    padding-left: 15px;
    padding-bottom: 10px;
  }
  
  .items-blog .item {
    width: 33.3%;
    padding: 20px;
    float: left;
  }
  .items-blog .item img {
    width: 100%;
  }
  .items-blog .item h4,
  .items-blog .item p {
    color: #555555;
    font-weight: 400;
    margin: 15px 0;
  }
  .items-blog .item h3 {
    margin: 15px 0;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  .items-blog button {
    border: none;
    background-color: transparent;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
  .items-blog button:hover,
  .items-blog .item h3:hover {
    color: #ff305b;
  }
  iframe {
    width: 100%;
    height: 26.7%;
  }
  .clr{
    clear: both;
  }

  .contact-us h1{
  margin: auto;
  text-align: center;
  padding:15px;
  }
  .contact-us h1{
    position: relative;
    margin-bottom: 0;
  }
  .contact-us h1::after{
    position: absolute;
    content: " ";
    background-color: #f8f5f6;
    width:50px;
    height: 7px;
    top:132%;
    left:47%;
    border-width: 1.5px;
    border-style: solid;
    border-color: #ff305b transparent #ff305b transparent
  }
  .contact-us h1::before{
    position: absolute;
    content: " ";
    background-color: #ff305b;
    width:120px;
    height: 0;
    top:138%;
    left:43%;
    border-width: 0.2px;
    border-style: solid;
    border-color: #ff305b transparent transparent transparent;
    z-index: 5;
  }
  .contact-us form {
    margin-top: 150px;
    margin: auto;
    text-align: center;
    width: 90%;
    padding-top: 10px;
  }
  .contact-us form input {
    padding:10px;
    width: 40%;
    border: 2px solid #ddd;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px; 
    margin:8px;
  }
  #subject{
  width: 84%;
  
  }
  #textarea{
  width:84%;
  height: 20vh;
  margin-left:60px;
  float: left;
  border: 2px solid #ddd;
  }
  #submit{
  background-color: #ff305b;
  border: none;
  color: white;
  width: 20%;
  padding: 12px;
  float: left;
  margin: 15px 58px;
  }
  .footer{
    margin-top: 200px;
    bottom: 0;
    height: 150px;
    background-color: #333333;
    text-align: center;
    width: 100%;
    padding: 20px;
  }
  .footer .footer-icons i{
    color: white;
    margin:20px 20px 0 0 ;
    }
  .footer span{
    color: #ff305b;
  }
  .footer-copyright h4 {
  color: white;
  font-family:' Roboto'sans-serif;
  font-weight: 100px;
  }
  .footer a{
    text-decoration: none;
  }
  .footer i:hover{
    color: #ff305b;
  }
                            


